@model AspWrong.Models.Article2

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Article2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jméno" class="control-label"></label>
                <input asp-for="Jméno" class="form-control" />
                <span asp-validation-for="Jméno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Příjmení" class="control-label"></label>
                <input asp-for="Příjmení" class="form-control" />
                <span asp-validation-for="Příjmení" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popis" class="control-label"></label>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

