@model AspWrong.Models.Article2

@{
    ViewData["Title"] = "Pojistná událost";
}
<h5>Pojistná událost úspěšně uložena. Budeme Vás kontaktovat.</h5>
<hr />

<div>
    <a asp-controller="Article2" asp-action="Create">Zpět</a>
    <p></p>
    <a asp-controller="Home" asp-action="Udalosti">Zpět na hlavní stránku</a>
</div>
