@model IEnumerable<AspWrong.Models.Article2>


@{
    ViewData["Title"] = "Vyhledání pojistné události";
}
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Article2" asp-action="Index" method="get">
            <p>
                Jméno: <input type="text" name="SearchString" />
            <p></p>
                Příjmení: <input type="text" name="SearchString" />
            <p></p>
            <input type="submit" value="Hledat" />
            </p>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="Index">Zpět na hlavní stránku</a>
</div>