@model AspBlog.Models.Article

@{
    ViewData["Title"] = "Seznam pojištěných";
}

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.1/tinymce.min.js"></script>
    <script src="@Url.Content("~/js/initTinyMCE.js")"></script>
}

<section>
    <form class="d-flex flex-column gap-2" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label">Titulek</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Popisek</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label">Obsah</label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="clanky-tlacitko">Vytvořit</button>
        </div>
    </form>

    <a class="clanky-tlacitko" asp-action="Index">Zpět na seznam</a>
</section>
