@model AspBlog.Models.Article

@{
    ViewBag.Title = "Odstranění";
}

<section>
    <p>Opravdu chcete vymazat článek <b>@Model.Title</b>?</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="clanky-tlacitko">Odstranit</button>
        <a class="clanky-tlacitko" asp-action="Index">Zpět na seznam článků</a>
    </form>
</section>
