@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model RegisterViewModel
@{
    ViewData["Title"] = "Evidence";
}


<section>
        <img src="~/images/deposit.jpg" class="deposit"¨class="rounded-circle" class="float" alt="auto">
    <p>
        Vítejte v aplikaci Wrong.
    </p>
    <p>
        Aplikace byla vytvořena za účelem zlepšení komunikace mezi pojišťovnou a klienty. Kontaktovat nás můžete na 
        <a asp-controller="Home" asp-action="Kontakt">kontaktní stránce</a>.
    </p>
    <p>Aplikace umožňuje evidenci:</p>
    <ul>
        <li>Pojištěnců</li>
        <li>Pojistných událostí</li>
        <li>Pojištění</li>
    </ul>
    <p>
    </p>

    <p class="tlacitko-odstavec">
        <a asp-controller="Article1" asp-action="Create" class="reference-tlacitko">Vytvořit pojištění</a>
        <a asp-controller="Article2" asp-action="Create" class="reference-tlacitko">Nahlásit událost</a>
    </p>
    <a asp-controller="Account" asp-action="Login">Přihlásit se</a>
    <div class="cistic"></div>
</section>



