@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model RegisterViewModel
@{
    ViewData["Title"] = "Pojištění";
}
<section>
  
    </p>
    <p class="tlacitko-odstavec"> 
        <a asp-controller="Article1" asp-action="Create" class="reference-tlacitko">Přidat pojištěnce</a>
       
        @if (User.IsInRole("admin"))
        {
        <a asp-controller="Article1" asp-action="Vyhledat" class="reference-tlacitko">Vyhledat pojištěného</a>
            <a asp-controller="Article1" asp-action="Index" class="reference-tlacitko">Seznam pojištěnců</a>
        }
    </p>
    <div class="cistic"></div>
</section>