@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model RegisterViewModel
@{
    ViewData["Title"] = "Evidence pojistné události";
}


<section>
   <strong>Přidat pojistnou událost můžete níže:</strong>
    </p>
    <p></p>

    <p class="tlacitko-odstavec">
        <a asp-controller="Article2" asp-action="Create" class="reference-tlacitko">Přidat pojistnou událost</a> 

        @if (User.IsInRole("admin"))
        {
            <a asp-controller="Article2" asp-action="Vyhledat" class="reference-tlacitko">Vyhledat pojistnou událost</a>
            <a asp-controller="Article2" asp-action="Index" class="reference-tlacitko">Seznam pojistných událostí</a>
        }
    </p>
    <div class="cistic"></div>
</section>

