@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model RegisterViewModel
@{
    ViewData["Title"] = "Evidence pojistné události";
}


<section>
   <strong>Přidat a vyhledat pojistné události můžete na odkazech níže:</strong>
    </p>

    <p class="tlacitko-odstavec">
        <a asp-controller="Article2" asp-action="Index" class="reference-tlacitko">Přidat pojistnou událost</a> 
        <a asp-controller="Article2" asp-action="Index" class="reference-tlacitko">Vyhledat pojistnou událost</a>
    </p>
    <div class="cistic"></div>
</section>

