@model AspWrong.Models.Article1

@{
    ViewData["Title"] = "Pojištění";
}
<h5>Pojištěný úspěšně uložen.</h5>
<hr />

<div>
    <a asp-controller="Article1" asp-action="Create">Zpět</a>
    <p></p>
    <a asp-controller="Home" asp-action="Pojisteni">Zpět na hlavní stránku</a>
</div>